<footer class="footer-07">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<h2 class="footer-heading"><a href="#" class="logo">Alfa Cleaning Systems</a></h2>
				<p>B 604,SHRAMIK BUILDING, SIXTH, Mumbai Suburban,<br>
					TP Road, Ashok Kedare Chowk, Bhandup West,<br>
					Mumbai-400078, Maharashtra, India</p>
				<div class="FM_m47">
					<a href="https://www.google.co.in/maps/dir//19.148455,72.92757"
						class="FM_f14 FM_Lsp4 FM_m19 FM_c10 FM_ds7 FM_m27 FM_Inf" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" width="17.961" height="17" viewBox="0 0 17.961 17">
							<g id="get-directions-button" transform="translate(.001 .001)">
								<g id="directions" transform="translate(0 -.001)">
									<path
										d="M17.692 7.9L9.609.254a.9.9 0 0 0-1.257 0L.269 7.9a.792.792 0 0 0 0 1.19l8.083 7.65a.9.9 0 0 0 1.257 0l8.083-7.65a.792.792 0 0 0 0-1.19zm-6.915 2.72V8.5H7.185v2.55h-1.8v-3.4a.827.827 0 0 1 .9-.85h4.49V4.674l3.145 2.975z"
										fill="#589ee9" data-name="Path 986" transform="translate(0 .001)"></path>
								</g>
							</g>
						</svg><span class="FM_td FM_m20 FM_ftrGD">Get Directions</span>
					</a>
				</div>
				<p class="menu">
					<a href="#">Home</a>
					<!-- <a href="#">Services</a> -->
					<a href="#">About Us</a>
					<a href="#">Contact</a>
				</p>
				<ul class="ftco-footer-social p-0">
					<li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
							title="Twitter"><span class="ion-logo-twitter"></span></a></li>
					<li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
							title="Facebook"><span class="ion-logo-facebook"></span></a></li>
					<li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
							title="Instagram"><span class="ion-logo-instagram"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-md-12 text-center">
				<p class="copyright">
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved
				</p>
				<!-- <span class="text-center">Developed by: Saurabh Masurkar<br>saurabhmasurkar13@gmail.com</span> -->
			</div>
		</div>
	</div>
</footer>