<div class="container mb-5">
    <div class="row  d-flex align-items-center justify-content-center">
        <div class="col-12 card  m-3  p-5 elevation">
            <h2 class="text-center"><strong>About Us</strong></h2>
            <p><strong>
                    Established in 2006, Alfa Cleaning Systems is amongst the leading trader and wholesaler of Pressure
                    Machine, Pressure Hose, etc. We also provide Cleaning Service and Waterproofing Service to our
                    clients. Our offered range of products and services are rendered by a highly skilled team of
                    professionals by keeping in mind the modern market developments. These products and services are
                    highly applauded for affordability and timely execution.
                    <br>
                    We have an efficient crew which consists of professional experts and experienced quality auditors
                    who work judiciously to attain maximum customer satisfaction. We offer training to our team members
                    on a regular basis to improve their skills and capabilities. Under the vigilance of Mr. Dinesh
                    Satavase (Partner), we have attained a strong foothold within the domain. We have a capacious and a
                    hygienic warehouse unit wherein we store our products securely.
                </strong> </p>
        </div>

        <div class="col-12 card  m-2 mt-5 p-5">
            <h2 class="mb-3 text-center"><strong>Factsheet</strong></h2>
            <div class="col-10 table-align">

                <h5 class="mt-4">Basic Information</h5>
                <table class="table table-bordered caption-top m-3">
                    <tbody>
                        <tr>
                            <td scope="row">Nature of Business</td>
                            <td scope="row">Service Provider</td>
                        </tr>
                        <tr>
                            <td scope="row">Company CEO</td>
                            <td>Padmakar Nimbalkar</td>
                        </tr>
                        <tr>
                            <td scope="row">otal Number of Employees</td>
                            <td scope="row">26 to 50 People</td>
                        </tr>
                        <tr>
                            <td scope="row">Year of Establishment</td>
                            <td scope="row">2006</td>
                        </tr>
                        <tr>
                            <td scope="row">Legal Status of Firm</td>
                            <td scope="row">Partnership Firm</td>
                        </tr>
                        <tr>
                            <td scope="row">Annual Turnover</td>
                            <td scope="row">Upto Rs. 50 Lakh</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="col-10  table-align">
                <h5 class="mt-4">Statutory Profile</h5>
                <table class="table table-bordered caption-top m-3">
                    <tbody>
                        <tr>
                            <td scope="row">Banker</td>
                            <td scope="row">BHARAT CO-OPERATIVE BANK MUMBAI LIMITED<br>
                                BHARAT CO-OPERATIVE BANK MUMBAI LIMITED</td>
                        </tr>
                        <tr>
                            <td scope="row">GST No.</td>
                            <td>27AAOFA7537Q2ZK</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-10  table-align">
                <h5 class="mt-4">Packaging/Payment and Shipment Details</h5>
                <table class="table table-bordered caption-top m-3">
                    <tbody>
                        <tr>
                            <td scope="row">Payment Mode</td>
                            <td scope="row">Cash<br>
                                Credit Card<br>
                                Cheque<br>
                                DD</td>
                        </tr>
                        <tr>
                            <td scope="row">Shipment Mode</td>
                            <td>By Road</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-12 card  m-2 mt-5 p-5">
            <h2 class="text-center pt-2"><strong>Why Us?</strong></h2>
            <p><strong>
                    <p class="text-left ps-5 ms-4">With the assistance of rich vendor base, we are able to meet the
                        requirements of our customers within the promised time period.
                        <br>Some of the other factors that attract the customers towards us are as follows:
                    </p>
                    <ul class="ps-5 ms-5">
                        <li>State-of-the-art infrastructure</li>
                        <li>Diligent team</li>
                        <li>Affordable prices</li>
                        <li>Ethical business practices</li>
                        <li>Timely deliveries</li>
                    </ul>
                </strong> </p>
        </div>

        <div class="col-12 card  m-2 mt-5 p-5">
            <h2 class="text-center pt-2"><strong>Our Clients</strong></h2>
        
                    <table class="table table-striped">
                        <tbody >
                            <tr *ngFor="let client of client_list; let i =index">
                                <td scope="row">{{i+1}}</td>
                                <td scope="row">{{client[0]}}</td>
                                <td scope="row">{{client[1]}}</td>
                            </tr>
                        </tbody>
                        
                    </table>
        </div>

    </div>
</div>