<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid bg">
    <img class="FM_ds1" src="../../../assets/Images/logo3.png"
      alt="Alfa Cleaning Systems" >
    <a class="navbar-brand" href="#">
      <h3>Alfa Cleaning Systems</h3>
    <p class="Titledetail"><mat-icon class="icon-display">location_on</mat-icon><span class="span-display">Bhandup West, Mumbai, Maharashtra</span>  | <mat-icon class="icon-display">verified_user</mat-icon><span class="span-display">GST <strong>7AAOFA7537Q2ZK</strong></span></p></a>
    <!-- <button class="navbar-toggler d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse d-flex " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Services
          </a>

          <ul class="dropdown-menu submenu" aria-labelledby="navbarDropdown">
            <li class="dropdown-submenu ">
              <a tabindex="-1" class="dropdown-item " href="#">Water Storage Tanks Cleaning Services
              </a>
              <ul class="dropdown-menu dropleft">
                <li><a tabindex="-1" class="dropdown-item " routerLink="/settling-tank">Settling Tank Cleaning
                    Service</a></li>
                <li><a tabindex="-1" class="dropdown-item" routerLink="/plastic-tank">Plastic Water Storage Tanks
                    Cleaning Service</a></li>
                <li><a tabindex="-1" class="dropdown-item" routerLink="/storage-tank">Water Storage Tanks Cleaning
                    Service</a></li>
                <li><a tabindex="-1" class="dropdown-item" routerLink="/overhead-tank">Big Over Head Tank Cleaning
                    Service</a></li>
                <li><a tabindex="-1" class="dropdown-item" routerLink="/underground-tank">Big Underground Tank Cleaning
                    Service</a></li>
              </ul>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a tabindex="-1" class="dropdown-item" routerLink="/building-terrace">Building Terrace Cleaning Service</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a tabindex="-1" class="dropdown-item" routerLink="/open-well">Open Well Cleaning Service</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a tabindex="-1" class="dropdown-item" routerLink="/floor">Floor Cleaning Service</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutUs">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactUs">Contact Us</a>
        </li>
      </ul>
      <button type="button" class="btn btn-success me-2" (click)="openDialog()" disabled>Send Request</button>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>