<div class="container main justify-content-center">
    <div class="row justify-content-md-center">
      <h1 style="text-align:center">Plastic Water Tank Cleaning Services</h1>
      <div class="col-6 justify-content-md-center left">
        <img src="../../assets/Images/plastic.jpg" class="w-100" alt="...">
      </div>
      <div class="col-6 right">
        
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td scope="row">Location/City</td>
              <td scope="row">Mumbai</td>
            </tr>
            <tr>
              <td scope="row">Frequency</td>
              <td>One Time, Monthly, Yearly</td>
            </tr>
            <tr>
              <td scope="row">Type of Property</td>
              <td scope="row">Commercial</td>
            </tr>
            <tr>
              <td scope="row">Business Industry Type	</td>
              <td scope="row">Commercial/Industrial
              </td>
            </tr>
            <tr>
              <td scope="row">Type Of Service Provider	</td>
              <td scope="row">Cleaning Service</td>
            </tr>
            <tr>
              <td scope="row">Pricing	</td>
              <td scope="row">Varies</td>
            </tr>
            <tr>
              <td scope="row">Capacity		</td>
              <td scope="row">More than 5000 liter</td>
            </tr>
          </tbody>
        </table>
  
        <span>
          <p>
            Being a front runner in the industry, we are involved in providing our customers highly qualitative Plastic Water Storage Tanks Cleaning Services. These are offered in agreement with the defined guidelines to preserve our standing in the industry. To add, the employees rendering these services are appointed after stern analysis of their skills and experience.
<br>
Capacity-More than 5000 Liter
          </p>
        </span>
        <div class="d-grid gap-2">
        <button type="button" class="btn btn-success btn-lg b1" (click)="openDialog()">I am Interested!</button>
      </div>
      </div>
    </div>
  
    <div class="row cards justify-content-md-center">
      <span>
        <h3>
          Explore More Categories
        </h3>
      </span>
      <div class="col-3">
        <div class="card" style="width: 15rem;">
          <a (click)="navigateToSettlingTank()">
            <img src="../../assets/Images/settling.jpg" height="130px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Settling Tanks Cleaning Services</h5>
              <!-- <p class="card-text">1 Service Available</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 15rem;">
          <a (click)="navigateToWaterStorageTank()">
            <img src="../../assets/Images/water-storage.png" height="130px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Water Storage Tank Cleaning Service</h5>
              <!-- <p class="card-text">1 Service Available</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 15rem;">
          <a (click)="navigateToBigOverheadTank()">
            <img src="../../assets/Images/overhead.jpg" height="130px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Big Overhead Tank Cleaning Service</h5>
              <!-- <p class="card-text">1 Service Available</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 15rem;">
          <a (click)="navigateToBigUnderground()">
            <img src="../../assets/Images/underground.jpg" height="130px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Big Underground Tank Cleaning Service</h5>
              <!-- <p class="card-text">1 Service Available</p> -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  