<div class="container main justify-content-center">
    <div class="row justify-content-md-center">
      <h1 style="text-align:center">Big Overhead Tank Cleaning Services</h1>
      <div class="col-6 justify-content-md-center left">
        <img src="../../assets/Images/overhead.jpg" class="w-100" alt="...">
      </div>
      <div class="col-6 right">
        
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td scope="row">Location/City</td>
              <td scope="row">Mumbai</td>
            </tr>
            <tr>
              <td scope="row">Frequency</td>
              <td>Monthly</td>
            </tr>
            <tr>
              <td scope="row">Type of Property</td>
              <td scope="row">Commercial</td>
            </tr>
            <tr>
              <td scope="row">Tank Capacity	</td>
              <td scope="row">>2000
              </td>
            </tr>
            <tr>
              <td scope="row">Usage/Application</td>
              <td scope="row">Commercial</td>
            </tr>
            <tr>
              <td scope="row">Deals In</td>
              <td scope="row">Mumbai Only</td>
            </tr>
            <tr>
              <td scope="row">Purpose</td>
              <td scope="row">	Cleaning</td>
            </tr>
          </tbody>
        </table>
  
        <span>
          <p>
            Assisted by our affluent industry indulgent and proficiency in this arena, we are able to provide Tank Cleaning Services. Provided services are imparted by adroit personnel who hold vast knowledge in their respective realm that assists them in imparting these services in a well-organized way.
          </p>
        </span>
        <div class="d-grid gap-2">
        <button type="button" class="btn btn-success btn-lg b1" (click)="openDialog()">I am Interested!</button>
      </div>
      </div>
    </div>
  
    <div class="row cards justify-content-md-center">
      <span>
        <h3>
          Explore More Categories
        </h3>
      </span>
      <div class="col-3">
        <div class="card" style="width: 15rem;">
          <a (click)="navigateToPlasticWater()">
            <img src="../../assets/Images/plastic.jpg" height="130px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Plastic Water Storage Tanks Cleaning Services</h5>
              <!-- <p class="card-text">1 Service Available</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 15rem;">
          <a (click)="navigateToWaterStorageTank()">
            <img src="../../assets/Images/water-storage.png" height="130px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Water Storage Tank Cleaning Service</h5>
              <!-- <p class="card-text">1 Service Available</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 15rem;">
          <a (click)="navigateToSettlingTank()">
            <img src="../../assets/Images/settling.jpg" height="130px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Settling Tank Cleaning Service</h5>
              <!-- <p class="card-text">1 Service Available</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 15rem;">
          <a (click)="navigateToBigUnderground()">
            <img src="../../assets/Images/underground.jpg" height="130px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Big Underground Tank Cleaning Service</h5>
              <!-- <p class="card-text">1 Service Available</p> -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  