<div class="container main justify-content-center">
    <div class="row justify-content-md-center">
      <h1 style="text-align:center">Water Storage Tank Cleaning Services</h1>
      <div class="col-6 justify-content-md-center left">
        <img src="../../assets/Images/water-storage.png" class="w-100" alt="...">
      </div>
      <div class="col-6 right">
        
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td scope="row">Location/City</td>
              <td scope="row">Mumbai</td>
            </tr>
            <tr>
              <td scope="row">Frequency</td>
              <td>One Time, Monthly, Yearly</td>
            </tr>
            <tr>
              <td scope="row">Type of Property</td>
              <td scope="row">Commercial</td>
            </tr>
            <tr>
              <td scope="row">Business Industry Type	</td>
              <td scope="row">Commercial/Industrial
              </td>
            </tr>
            <tr>
              <td scope="row">Type Of Service Provider	</td>
              <td scope="row">Cleaning Service</td>
            </tr>
            <tr>
              <td scope="row">Operation Mode	</td>
              <td scope="row">Automatic, Semi-Automatic, Manual</td>
            </tr>
          </tbody>
        </table>
  
        <span>
          <p>
            Riding on high capacities of industrial ability and understanding, we are providing top class RO Water Storage Tanks Cleaning Services. These services are delivered in agreement with the clients’ requisites to achieve client gratification. In addition, we commence these services only after identifying the given details of our clients.
          </p>
        </span>
        <div class="d-grid gap-2">
        <button type="button" class="btn btn-success btn-lg b1" (click)="openDialog()">I am Interested!</button>
      </div>
      </div>
    </div>
  
    <div class="row cards justify-content-md-center">
      <span>
        <h3>
          Explore More Categories
        </h3>
      </span>
      <div class="col-3">
        <div class="card" style="width: 15rem;">
          <a (click)="navigateToPlasticWater()">
            <img src="../../assets/Images/plastic.jpg" height="130px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Plastic Water Storage Tanks Cleaning Services</h5>
              <!-- <p class="card-text">1 Service Available</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 15rem;">
          <a (click)="navigateToSettlingTank()">
            <img src="../../assets/Images/settling.jpg" height="130px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Settling Tank Cleaning Service</h5>
              <!-- <p class="card-text">1 Service Available</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 15rem;">
          <a (click)="navigateToBigOverheadTank()">
            <img src="../../assets/Images/overhead.jpg" height="130px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Big Overhead Tank Cleaning Service</h5>
              <!-- <p class="card-text">1 Service Available</p> -->
            </div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 15rem;">
          <a (click)="navigateToBigUnderground()">
            <img src="../../assets/Images/underground.jpg" height="130px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Big Underground Tank Cleaning Service</h5>
              <!-- <p class="card-text">1 Service Available</p> -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  