.mat-form-field-wrapper {
    padding: 0px
}

mat-hint {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
    color: blue
}

.mat-dialog-title {
    text-align: center;
}

.b1 {
    width: 100%
}



.btn[disabled] {
    pointer-events: all !important;
}

.container {
    width: 100%;
}

.col-6{
    width:47%
}

.c1{
    background-color: rgb(240, 245, 255);
width: fit-content;
}

