
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Alfa Cleaning Systems</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              


              <li class="dropdown-submenu">
                <a tabindex="-1" class="dropdown-item" href="#">Water Storage Tanks Cleaning Services
                </a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" class="dropdown-item" href="#">Settling Tank Cleaning Service</a></li>
                  <li><a tabindex="-1" class="dropdown-item" href="#">Plastic Water Storage Tanks Cleaning Service</a></li>
                  <li><a tabindex="-1" class="dropdown-item" href="#">Water Storage Tanks Cleaning Service</a></li>
                  <li><a tabindex="-1" class="dropdown-item" href="#">Big Over Head Tank Cleaning Service</a></li>
                  <li><a tabindex="-1" class="dropdown-item" href="#">Big Underground Tank Cleaning Service</a></li>
                </ul>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Building Terrace Cleaning Service</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Open Well Cleaning Service</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Floor Cleaning Service</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


<router-outlet></router-outlet>