<div class="container main justify-content-center">
  <div class="row justify-content-md-center">
    <h1 style="text-align:center">Settling Tank Cleaning Services</h1>
    <div class="col-6 justify-content-md-center left">
      <img src="../../assets/Images/image3.jpg" class="w-100" alt="...">
    </div>
    <div class="col-6 right">
      
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td scope="row">Location/City</td>
            <td scope="row">Mumbai</td>
          </tr>
          <tr>
            <td scope="row">Frequency</td>
            <td>As Per Demand</td>
          </tr>
          <tr>
            <td scope="row">Type of Property</td>
            <td scope="row">Commercial</td>
          </tr>
          <tr>
            <td scope="row">Location</td>
            <td scope="row">Mumbai only
            </td>
          </tr>
          <tr>
            <td scope="row">Usage/Application</td>
            <td scope="row">Commercial</td>
          </tr>
          <tr>
            <td scope="row">Payment Mode</td>
            <td scope="row">Depends</td>
          </tr>
        </tbody>
      </table>

      <span>
        <p>
          As a notable name of this business sector, we are massively indulged in offering to our patrons’ Settling Tank
          Cleaning Services. Due to our devotion and specialization towards the quality, these services are enormously
          valued by our clients. Apart from this, these services are executed by nimble personnel as per the patrons’
          demands.
        </p>
      </span>
      <div class="d-grid gap-2">
      <button type="button" class="btn btn-success btn-lg b1" (click)="openDialog()">I am Interested!</button>
    </div>
    </div>
  </div>

  <div class="row cards justify-content-md-center">
    <span>
      <h3>
        Explore More Categories
      </h3>
    </span>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <a routerLink="/underground-tank">
        <img src="../../assets/Images/image3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Building Terrace Cleaning Service</h5>
          <p class="card-text">1 Service Available</p>
        </div>
      </a>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <a routerLink="/underground-tank">
        <img src="../../assets/Images/image3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Building Terrace Cleaning Service</h5>
          <p class="card-text">1 Service Available</p>
        </div>
      </a>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <a routerLink="/underground-tank">
        <img src="../../assets/Images/image3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Building Terrace Cleaning Service</h5>
          <p class="card-text">1 Service Available</p>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>
