<div class="container-fluid">
  <div class="row">
    <div class="col-12 slide">
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="">Previous</span>
      </button>
      <div id="carouselExampleCaptions" class="carousel slide carousel-fade carousel-style" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
            aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"
            aria-label="Slide 8"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="./../assets/Images/settling.jpg" class="d-block w-100 slider" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <a routerLink="/settling-tank">
                <h4>Settling Tank Cleaning Services</h4>
              </a>

            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="./../assets/Images/plastic.jpg" class="d-block w-100 slider" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <a routerLink="/plastic-tank">
                <h4>Plastic Water Storage Cleaning Service</h4>
              </a>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="./../assets/Images/water-storage.png" class="d-block w-100 slider" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <a routerLink="/storage-tank">
                <h4>Water Storage Tank Cleaning Service</h4>
              </a>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="./../assets/Images/overhead.jpg" class="d-block w-100 slider" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <a routerLink="/overhead-tank">
                <h4>Big Overhead Tank Cleaning Service </h4>
              </a>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="./../assets/Images/underground.jpg" class="d-block w-100 slider" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <a routerLink="/underground-tank">
                <h4>Big Underground Tank Cleaning Service</h4>
              </a>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="./../assets/Images/building.jpg" class="d-block w-100 slider" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <a routerLink="/building-terrace">
                <h4>Building Terrace Cleaning Service</h4>
              </a>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="./../assets/Images/well.jpg" class="d-block w-100 slider" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <a routerLink="/open-well">
                <h4>Open Well Cleaning Service</h4>
              </a>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="./../assets/Images/floor.jpg" class="d-block w-100 slider" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <a routerLink="/floor">
                <h4>Floor Cleaning Service</h4>
              </a>
            </div>
          </div>
        </div>



      </div>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="">Next</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
    <hr>
    <div class="col-12 about">
      <h3>About Us</h3>
      <strong>
        <p>
          Established in 2006, Alfa Cleaning Systems is amongst the leading trader and wholesaler of Pressure Machine,
          Pressure Hose, etc. We also provide Cleaning Service and Waterproofing Service to our clients. Our offered
          range of products and services are rendered by a highly skilled team of professionals by keeping in mind the
          modern market developments. These products and services are highly applauded for affordability and timely
          execution.
        </p>
        <a routerLink="/aboutUs">+ Read More</a>
      </strong>
    

    <div class="row justify-content-center mt-5">
      <div class="col  p-2 ">
        <div class="card">
          <mat-icon>local_atm</mat-icon>
          <span class="inside-card">Type of Business</span>
          <p class="inside-card"><strong>Service Provider</strong> </p>
        </div>
      </div>
      <div class="col  p-2 ">
        <div class="card">
          <mat-icon>people</mat-icon>
          <span class="inside-card">Employee Count</span>
          <p class="inside-card"><strong>26 to 50 People</strong> </p>
        </div>
      </div>
      <div class="col  p-2 ">
        <div class="card">
          <mat-icon> business</mat-icon>
          <span class="inside-card">Year of Establishment</span>
          <p class="inside-card"><strong>2006</strong> </p>
        </div>
      </div>
      <div class="col  p-2 ">
        <div class="card">
          <mat-icon> layers</mat-icon>
          <span class="inside-card">Legal Status of Firm</span>
          <p class="inside-card"><strong>Partnership Firm</strong> </p>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col"></div>
      <div class="col  p-2 ">
        <div class="card">
          <mat-icon> money</mat-icon>
          <span class="inside-card">Annual Turnover</span>
          <p class="inside-card"><strong>Upto Rs. 50 Lakh</strong> </p>
        </div>
      </div>
      <div class="col  p-2 ">
        <div class="card">
          <mat-icon>verified_user</mat-icon>
          <span class="inside-card">GST Number</span>
          <p class="inside-card"><strong>27AAOFA7537Q2ZK</strong> </p>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

    <hr>
    <div class="col-12 video">
      <h3>Our Videos</h3>
      <iframe data-img="https://img.youtube.com/vi/H_wG7BZQ6-E/hqdefault.jpg" id="homevideo" alt="Video Section Image"
        data-dataimg="https://img.youtube.com/vi/H_wG7BZQ6-E/hqdefault.jpg" class=" FM_w1 FM_h1"
        src="https://www.youtube.com/embed/H_wG7BZQ6-E?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.indiamart.com&amp;widgetid=1"
        frameborder="0" allowfullscreen="1"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        title="Alfa Cleaning Systems" width="1000" height="500" data-gtm-yt-inspected-59460_75="true"></iframe>
    </div>

  </div>
</div>